#x1{
width: 1000px;
height: 100px;
background-color: rgb(228, 169, 224);
margin: auto;
}

#x2{
width: 1000px;
height: 75px;
background-color: rgb(238, 207, 215);
margin: auto;
}
#x3{
width: 1000px;
height: 60px;
background-color: rgb(169, 210, 182);
margin: auto;
}
#x4{
width: 1000px;
height: 125px;
background-color: rgb(149, 185, 221);
margin: auto;
}